<div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="datetime">Date/time:</label>
      <div class="col-sm-10">
        <input class="form-control"
               type="datetime-local"
               name="datetime"
               autofocus="autofocus"
               ng-model="datetime"
               ng-change="update()">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label for="animate">
            <input type="checkbox"
                   name="animate"
                   ng-model="animate"
                   ng-change="toggleAnimate()">
            Animate
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" ng-click="now()">
          Go to now! <span class="glyphicon glyphicon-time"></span>
        </button>
      </div>
    </div>
  </form>
</div>

<div>
  <svg width="559" height="448" style="background-image: url(images/fm1222_gendler.jpg);">
    <defs>
      <filter id="blur" x="0" y="0">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
      </filter>
    </defs>
    <path d="{{shadowPath}}"
          fill="black" opacity="0.8" filter="url(#blur)"/>
  </svg>
</div>
