<!-- div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div -->

<div class="row marketing">
  Date / time: <input type="datetime-local" name="datetime" ng-model="datetime" ng-change="update()">
  <br>Julian day: {{datetime.getJulian()}}
  <br>New moon base Julian: {{moonPhaseBaseJulian}}
  <br>Moon phase: {{moonPhase}}
  <br>Moon phase ratio: {{moonPhaseRatio}}
  <br>Small arc radius: {{smallArcRadius}}
</div>

<div>
  <svg width="559" height="448" style="background-image: url(images/fm1222_gendler.jpg);">
    <defs>
      <filter id="blur" x="0" y="0">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
      </filter>
    </defs>
    <!-- * Move to centre.
         * Move to bottom of moon.
         * Arc from bottom to top of moon, with moon's radius.
         * Arc from top to bottom of moon, with reduced radius.
      -->
    <path d="M{{moonCentreX}},{{moonCentreY}}
             m0,{{moonRadius}}
             a{{moonRadius}},{{moonRadius}} 0 0,{{arcSweep}} 0,-{{moonDiametre}}
             a{{smallArcRadius}},{{moonRadius}} 0 0,{{smallArcSweep}} 0,{{moonDiametre}}"
          fill="black" opacity="0.8" filter="url(#blur)"/>
  </svg>
</div>
